<h1>Listing item_menus</h1>

<table>
  <tr>
    <th>Titulo</th>
    <th>Url</th>
    <th>Usuario</th>
  </tr>

<% @item_menus.each do |item_menu| %>
  <tr>
    <td><%=h item_menu.titulo %></td>
    <td><%=h item_menu.url %></td>
    <td><%=h item_menu.usuario_id %></td>
    <td><%= link_to 'Show', item_menu %></td>
    <td><%= link_to 'Edit', edit_item_menu_path(item_menu) %></td>
    <td><%= link_to 'Destroy', item_menu, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New item_menu', new_item_menu_path %>