<h1>Listing categoria_usuarios</h1>

<table>
  <tr>
    <th>Tipo</th>
  </tr>

<% @categoria_usuarios.each do |categoria_usuario| %>
  <tr>
    <td><%=h categoria_usuario.tipo %></td>
    <td><%= link_to 'Show', categoria_usuario %></td>
    <td><%= link_to 'Edit', edit_categoria_usuario_path(categoria_usuario) %></td>
    <td><%= link_to 'Destroy', categoria_usuario, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New categoria_usuario', new_categoria_usuario_path %>